@font-face {
  font-family: UnifrakturCook;
  src: url("../src/assets/fonts/UnifrakturCook-Bold.ttf");
}

@font-face {
  font-family: OldEnglish;
  src: url("../src/assets/fonts/OldeEnglish.ttf");
}

body {
  margin: 0;
}
